<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Menu Gallery</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/image_gallery.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body style="background: #F4EFE7">
        <div class="header">
            <img src="https://i.imgur.com/YK3dn3b.png"/>
            <div class="title">BestPlate</div>
        </div>

<!-- Loading Animation Overlay -->
        <div id="loading-overlay" style="display: none;">
            <div class="white-box">
        <!-- Cutlery Logo with Animation -->
                <div id="cutlery-logo">
                    <img src="https://i.imgur.com/YK3dn3b.png"/>
                </div>


                <div class="text">
                    <h1>
                        <span class="words-wrapper">
                            <b class="load-text">Reaching out to OpenAI...</b>
                            <b class="load-text">Reticulating splines...</b>
                            <b class="load-text">Twiddling thumbs...</b>
                            <b class="load-text">Having a nice conversation...</b>
                            <b class="load-text">Talking about your food...</b>
                        </span>
                    </h1>
                </div>
            </div>
        </div>

        <div class="select-image-text">Select Menu Image:</div>

        <div class="gallery">
            {% for url in image_urls %}
                <img src="{{ url }}" onclick="handleImageClick('{{ url }}')">
            {% endfor %}
        </div>

        <script src="{% static 'js/image_gallery.js' %}"></script>
    </body>
</html>