<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Menu Gallery</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/image_gallery.css' %}">
        <!-- Include the Overlay Stylesheet -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/loading_overlay.css' %}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="header">
            <img src="https://i.imgur.com/YK3dn3b.png"/>
            <div class="title">BestPlate</div>
        </div>

        <div class="select-image-text">Select Menu Image:</div>

        <div class="gallery">
            {% for url in image_urls %}
                <img src="{{ url }}" onclick="handleImageClick('{{ url }}')">
            {% endfor %}
        </div>

        <!-- Include the Overlay Template -->
        {% include 'loading_overlay.html' %}

        <!-- Populate the loading overlay with specific text for this page -->
        <script>
            $(document).ready(function() {
                var texts = ["Reaching out to OpenAI...", "Reticulating splines...", "Twiddling thumbs...",
                    "Having a nice conversation...", "Talking about your food..."];
                texts.forEach(function(text) {
                    $('.words-wrapper').append('<b class="load-text">' + text + '</b>');
                });
            });
        </script>

        <script src="{% static 'js/image_gallery.js' %}"></script>
        <!-- Include the Overlay Animation Script -->
        <script src="{% static 'js/loading_overlay.js' %}"></script>
    </body>
</html>